{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}bookstore{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'bookstore/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <h1  href="{% url 'index' %}"><a class="nav-link" href="{% url 'index' %}">bookstore </a></h1>
        {% block body %}
        {% endblock %}
    </body>
    {% block script %}
    {% endblock %}
</html>
